<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>javax.faces.PROJECT_STAGE</param-name>
        <param-value>Development</param-value>
    </context-param>
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>HomeServlet</servlet-name>
        <servlet-class>com.servlet.HomeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VoteServlet</servlet-name>
        <servlet-class>com.servlet.VoteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendFormInfoServle</servlet-name>
        <servlet-class>com.servlet.SendFormInfoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FormServlet</servlet-name>
        <servlet-class>com.servlet.FormServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RankingServlet</servlet-name>
        <servlet-class>com.servlet.RankingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NameSearchServlet</servlet-name>
        <servlet-class>com.servlet.NameSearchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CommentServlet</servlet-name>
        <servlet-class>com.servlet.CommentServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>/faces/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeServlet</servlet-name>
        <url-pattern>/HomeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VoteServlet</servlet-name>
        <url-pattern>/VoteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendFormInfoServle</servlet-name>
        <url-pattern>/SendFormInfoServle</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FormServlet</servlet-name>
        <url-pattern>/FormServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RankingServlet</servlet-name>
        <url-pattern>/RankingServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NameSearchServlet</servlet-name>
        <url-pattern>/NameSearchServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CommentServlet</servlet-name>
        <url-pattern>/CommentServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>faces/index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
